*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

small{
    display: none;
}

body{

    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contenedor{
    max-width: 700px;
    width: 100;
    padding: 25px 30px;
    border-radius: 10px;
    background:linear-gradient(130deg, yellow,  orange, red);
    flex-wrap: wrap;
    

}

.contenedor .titulo {
    font-size: 25px;
    font-weight: 500;
}

.contenedor form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10 12 0;
}

form .grupo-form{

    margin-bottom: 15px;
    width: calc(100%/2 - 20px);
}

form span{
    display: block;
    font-weight:500;
    margin-bottom: 5px;
}

.grupo-form input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.grupo-form input:focus,
.grupo-form input:valid{
    border-color: burlywood;
}

form .button{
    width: 100%;
    height: 40px;
    margin: 40px 0;

}


form .button input{
    width: 100%;
    height: 100%;
    outline: none;
    background: linear-gradient(130deg, orange, yellow);
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

form .button input:hover{
    background: linear-gradient(130deg, yellow, orange  );
}

@media (max-width: 584px){
    .contenedor{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    form .grupo-form{
        margin-bottom: 15px;
        width: 100%;
    }

    .contenedor form{
        max-height: 400px;
        overflow-y: scroll;
    }

    .contenedor form::-webkit-scrollbar{
        width: 0;
    }

    form .button{
        margin: 20px 0;
    }

}

  *{

    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;

   }

h1, h4{
    text-align: center;
}

.btnSubmit{
    display: block;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}



.number{
    text-align: center;
}

.board1{
    width: 360px;
    height: 360px;
    background-color:coral;
    border-radius: 10px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: bisque;
    
  
}

#grid-flex1{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#grid-flex2{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



#grid-container1{

    display:grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    flex-wrap: wrap;

    margin: 20px;


}


#grid-container1 div{
    background-color:  #58aa10;
    border: 1px solid black;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 50px;


}   

#grid-container2{

    display:grid;
    background-color: #58aa10; 
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;

    flex-wrap: wrap;

    margin: 20px;



}


#grid-container2 div{
    background-color:  #58aa10;
    border: 1px solid black;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 50px;

}   

#grid-container3{

    display:grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;

    flex-wrap: wrap;

    margin: 20px;



}


#grid-container3 div{
    background-color:  #58aa10;
    border: 1px solid black;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 50px;

} 

#grid-container4{

    display:grid;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;

    flex-wrap: wrap;

    margin: 20px;
}

#grid-container4 div{
    background-color:  #58aa10;
    border: 1px solid black;
    color: white;
    text-align: center;
    padding: 1rem;
    line-height: 50px;

} 














  